.sp_line_sss {height : 5px;}
.sp_line_ss {height : 10px;}
.sp_line_s  {height : 16px;}
.sp_line_m  {height : 26px;}
.sp_line_l  {height : 40px;}
.sp_line_xl {height : 60px;}
.font_4xl   {font-size: 28px !important; margin:0px}
.font_3xl   {font-size: 24px !important; margin:0px}
.font_2xl   {font-size: 20px !important; margin:0px}
.font_xl    {font-size: 16px !important; margin:0px}
.font_l     {font-size: 14px !important; margin:0px}
.font_m     {font-size: 12px !important; margin:0px}
.font_s     {font-size: 10px !important; margin:0px}
.font_ss    {font-size: 8px !important; margin:0px}
.font_b     {font-weight:bold;}

p {
    margin-bottom: 0 !important;
}

.modalWidth-A{
    width:80%;
}

.modalWidth-B {
    width: 95%;
}
@media screen and (min-width : 576px) {
    .modalWidth-B {
        width: 500px;
    }
}

.absoluteCenterX {
    transform: translateX(-50%) !important;
    -webkit-transform: translateX(-50%) !important;
    -ms-transform: translateX(-50%) !important;
}
.absoluteCenterY {
    transform: translateY(-50%) !important;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
}
.absoluteCenterXY {
    transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
}

